@tailwind base;
@tailwind components;
@tailwind utilities;

.cheerpjNC::before {
  top: 0;
  bottom: unset !important;
  border-top: unset !important;
  border-bottom: 1px solid black;
}

.cheerpjLoading {
  background: none !important;
}
